body {
  background-color: #fdfdf9;
}
body::-webkit-scrollbar {
  background-color: beige;
  width: 0.5rem;
}
body::-webkit-scrollbar-thumb {
  background-color: #167a92;
  border-radius: 5px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins";
  --word-spacing: 2px;
  --font-size: 13px;
}

#navbars {
  position: sticky;
  top: 0.1px;
  bottom: 10px;
  z-index: 2;
  background-color: white;
}
#navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1px solid #5e767855;
  padding: 0px 40px 0px 40px;
  height: 3rem;
}
#logo {
  display: flex;
  align-items: center;
}
#logo > :nth-child(1) {
  letter-spacing: 8px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  border: 0.1px solid #5e767855;
  border-top: 4px solid #167a92;
  padding: 20px 40px;
  height: 100%;
  text-decoration: none;
  color: #167a92;
}
#logo > :nth-child(2) {
  width: 8rem;
  border: 0.1px solid #5e767855;
  padding: 15px 10px 10px 10px;
  height: 100%;
}
#searchbar {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 30%;
}
#searchbar > div:nth-child(1) {
  height: 100%;
  position: relative;
  top: 8px;
}
#searching {
  height: 75%;
  padding-left: 20px;
  border-radius: 5px;
  border: 0.1px solid #5e767855;
  font-size: var(--font-size);
  overflow: hidden;
  width: 15rem;
}

#searchbar img {
  width: 1rem;
}
#search-submit {
  position: absolute;
  width: 1rem;
  left: 82.2%;
  padding: 11.5px;
  box-sizing: content-box;
  background-color: #167a92;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}
#searchbar > div:nth-child(1) + div {
  display: flex;
}
#searchbar > div:nth-child(1) + div img {
  width: 1.5rem;
  cursor: pointer;
  margin-left: 15px;
  padding-top: 14px;
}
/* #busket img{
  width: 15rem;
  margin-left: 10px;
} */

#humburger {
  display: none;
}

/* nav menu */
#nav-menu {
  display: flex;
  flex-flow: row wrap;
  font-size: 14px;
  padding: 20px 50px;
  border: 0.1px solid #5e767855;
  border-top: none;
  height: 3rem;
}
#nav-menu > p {
  margin-right: 15px;
}
#nav-menu > p:hover {
  color: #167a92;
  padding-bottom: 18px;
  border-bottom: 2px solid #167a92;
  cursor: pointer;
}

/* .under-nav-menu */
#nav-menu {
  position: relative;
}
#for-new,
#under-Weddings,
#for-dress {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  gap: 30px;
  width: 70%;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  position: absolute;
  z-index: 1;
  background-color: white;
  display: none;
}

.under-for-new,
.under-for-weddings,
.under-for-dress {
  display: flex;
  flex-direction: column;
  border-right: 0.1px solid #5e767855;
  padding: 10px;
}
.under-for-weddings h5,
.under-for-new h5,
.under-for-dress h5 {
  border-bottom: 0.1px solid #5e767855;
  margin-bottom: 10px;
  padding-bottom: 15px;
}
.under-for-weddings a,
.under-for-new a,
.under-for-dress a {
  font-size: var(--font-size);
  color: black;
  text-decoration: none;
  line-height: 25px;
}
.image {
  border-right: none;
  border-bottom: 0.1px solid #5e767855;
}
.under-for-new img,
.under-for-weddings img,
.under-for-dress img {
  width: 100%;
}
.under-for-weddings a:hover,
.under-for-new a:hover,
.under-for-dress a:hover {
  color: #167a92;
  text-decoration: underline;
}

/* login form */

#for-varify {
  padding-top: 10px;
  box-sizing: content-box;
  padding-bottom: 35px;
  width: 22rem;
  height: 50vh;
  position: fixed;
  z-index: 5;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
#lgs {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  cursor: pointer;
}
#lgs > p {
  margin-bottom: 20px;
  padding: 5px 50px 5px 50px;
  border: 2px solid rgb(232, 224, 224);
  background-color: rgb(244, 239, 239);
  font-weight: 600;
  font-size: 17px;
  cursor: pointer;
}
#lgs > p:nth-child(2) {
  background-color: rgb(247, 5, 211);
  color: white;
}
#display {
  width: 90%;
  margin: auto;
}
#for-login {
  display: flex;
  flex-flow: column;
  position: relative;
  display: none;
}
input[type="password"],
input[type="email"] {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 8px;
  border: 1px solid rgb(232, 224, 224);
  font-size: 15px;
}
input[type="password"] {
  margin-bottom: 5px;
}
#hide_show {
  position: absolute;
  top: 26%;
  left: 90%;
  cursor: pointer;
}
#hide,
#show {
  width: 70%;
}
#hide {
}
#show {
  display: none;
}
#forgot {
  color: rgb(247, 5, 211);
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 15px;
}
#forgot + input[type="submit"] {
  width: 100%;
  border: none;
  background-image: linear-gradient(
    to right,
    rgb(247, 0, 201),
    rgb(164, 85, 152)
  );

  color: rgb(247, 247, 247);
  font-size: 17px;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  margin-top: 10px;
}
#not-member {
  font-size: 15px;
  margin-top: 20px;
}
#not-member > span {
  color: rgb(247, 5, 211);
  cursor: pointer;
}

/* for signup section here */

#for-signup {
  display: flex;
  flex-flow: column;
  position: relative;
  /* display: none; */
}

#for-signup input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid rgb(232, 224, 224);
  font-size: 15px;
}

#checkbox {
  position: absolute;
  top: 67%;
  right: 45%;
  accent-color: rgb(206, 25, 179);
  width: 0.7rem;
  height: 0.7rem;
  cursor: pointer;
}
label {
  margin-left: 10%;
  font-size: 15px;
  position: relative;
  bottom: 1px;
  margin-bottom: 3px;
}
#signup-submit {
  width: 100%;
  border: none;
  background-image: linear-gradient(
    to right,
    rgb(247, 0, 201),
    rgb(164, 85, 152)
  );
  color: white;
  cursor: pointer;
}
#for-signup > form + P {
  font-size: 15px;
}
#for-signup > form + P > span {
  color: rgb(206, 25, 179);
  font-weight: 600;
  cursor: pointer;
}
#hide_show-forsignup {
  position: absolute;
  top: 35%;
  left: 90%;
  cursor: pointer;
}
#hide,
#show {
  width: 70%;
}
#hide {
}
#show {
  display: none;
}

#cross {
  position: fixed;
  width: 2rem;
  left: 22.5rem;
  bottom: 21rem;
  cursor: pointer;
}

/* body part */

/* prodoct body section */
#appending {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  width: 50%;
  height: 60vh;
  overflow-y: scroll;
}
#appending::-webkit-scrollbar {
  background-color: rgba(255, 255, 255, 0);
}
#appending::-webkit-scrollbar-thumb {
  background-color: #167a92;
  border-radius: 10px;
  height: 1rem;
}
#appending > div {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  position: relative;
  display: flex;
  flex-direction: column;
}
#appending img {
  width: 100%;
}
#appending > div > :nth-child(1) {
  background-color: #167a92;
  width: max-content;
  color: #f5f5f5;
  font-weight: 200;
  letter-spacing: 2px;
  padding: 5px;
  font-size: var(--font-size);
}
#appending > div > :nth-child(3) {
  text-align: center;
  font-weight: 700;
  color: #167a92;
  margin-bottom: 5px;
}
#appending > div > :nth-child(4) {
  display: flex;
  justify-content: space-between;
  margin: 0px 15px 0px 15px;
}
#appending > div > :nth-child(4) > :nth-child(1)::before {
  content: "$ ";
  font-size: large;
}
#appending > div > :nth-child(4) > :nth-child(2)::after {
  content: " DISC";
  background-color: #167a92;
  color: #f5f5f5;
  font-weight: 200;
  font-size: var(--font-size);
  padding: 5px;
  margin-left: 3px;
}
#appending > div > :nth-child(5) {
  text-align: center;
  font-weight: 900;
  margin-bottom: 10px;
}
#appending > div > :nth-child(6) {
  font-size: var(--font-size);
  margin: 0px 15px 10px 15px;
  text-align: center;
}
#appending > div > button {
  background-color: #f6068a;
  border: 0;
  outline: 0;
  padding: 5px;
  width: 50%;
  margin: auto;
  display: block;
  color: white;
  cursor: pointer;
}

#cart_body {
  display: flex;
  margin: auto;
  padding: 40px;
}
#cart_show {
  width: 50vw;
  background-image: linear-gradient(
    to right,
    rgba(0, 128, 128, 0.345),
    rgba(203, 15, 232, 0.362)
  );
  text-transform: capitalize;
  position: relative;
}
#cart_show > :nth-child(1) {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
#cart_show > button {
  display: block;
  margin: auto;
  border: 0;
  outline: 0;
  padding: 10px 20px;
  font-weight: 600;
  background-color: #167a92;
  color: #fdfdf9;
  letter-spacing: 2px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  cursor: pointer;
}

#cart_show_price {
  overflow-y: scroll;
  letter-spacing: 2px;
  height: 10rem;
  padding: 20px;
}
#cart_show_price::-webkit-scrollbar {
  background-color: rgba(255, 255, 255, 0);
}
#cart_show_price > div {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
#pay {
  border-top: 3px solid black;
  padding-left: 20px;
  font-weight: 600;
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  position: absolute;
  bottom: 20%;
}
#amounts {
  margin-right: 30px;
}

/* Sign Up for Email */
footer {
  background-color: rgba(92, 92, 95, 0.093);
}
#for-email {
  padding: 40px;
  display: flex;
  justify-content: space-between;
}
#for-email > div > p:nth-child(1) {
  font-weight: 500;
  margin-bottom: 20px;
}
#for-email div > p:nth-child(2) {
  font-size: var(--font-size);
  margin-bottom: 20px;
}
#for-email > form label {
  display: block;
  font-size: var(--font-size);
  font-weight: 600;
  color: rgb(65, 60, 60);
  position: relative;
  right: 40px;
}
#email-form {
  display: flex;
}
#email {
  height: 2.5rem;
  border: 0.1px solid #5e767855;
  width: 30vw;
  margin-right: 5px;
}
input[type="submit"] {
  height: 2.5rem;
  padding: 0px 30px;
  background-color: rgb(71, 74, 74);
  border: 0;
  outline: 0;
  color: white;
  cursor: pointer;
}

#for-email + p {
  padding: 40px;
  font-size: var(--font-size);
  position: relative;
  bottom: 15px;
  border-bottom: 0.1px solid #5e767855;
}

/* help */

#help {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 40px;
}
.under-help > p:nth-child(1) {
  font-size: var(--font-size);
  font-weight: 600;
  color: rgb(65, 60, 60);
  margin-bottom: 10px;
}
.under-help > p:nth-child(1) + div p {
  font-size: var(--font-size);
  line-height: 25px;
}
.under-help > p:nth-child(1) + div p:hover {
  text-decoration: underline;
}

#help > :last-child p {
  font-size: var(--font-size);
  color: #167a92;
  cursor: pointer;
}
#help > :last-child > div {
  display: flex;
  align-self: center;
  margin-bottom: 15px;
}
#help > :last-child > div img {
  width: 1rem;
  align-self: center;
  margin-right: 15px;
}

/* social link */
footer {
  padding-bottom: 50px;
}
#social {
  padding: 40px;
  display: flex;
  justify-content: center;
}
#social img {
  width: 1rem;
  margin-right: 20px;
  align-self: center;
  cursor: pointer;
}
#social > div > img:nth-child(1) {
  width: 3.5rem;
  position: relative;
  top: 3px;
}
#social + img {
  padding: 40px;
  width: 100%;
}

#usa,
#privacy {
  display: flex;
  padding: 40px;
  padding-bottom: 0;
  padding-top: 0;
  justify-content: center;
}
#usa p,
#privacy p {
  border-right: 0.1px solid #5e767855;
  font-size: var(--font-size);
  padding: 10px;
}
#privacy + p {
  text-align: center;
  font-size: var(--font-size);
  margin-top: 10px;
}
/* alert showing  */

#alert-showing {
  width: 25rem;
  background-color: rgb(255, 9, 9);
  color: white;
  text-transform: capitalize;
  padding: 5px;
  border-radius: 5px;
  position: fixed;
  top: 10px;
  z-index: 6;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  letter-spacing: 2px;
  display: none;
}
#S_logged {
  width: 25rem;
  background-color: white;
  color: rgb(12, 12, 12);
  text-transform: capitalize;
  padding: 10px;
  border-radius: 5px;
  position: fixed;
  top: 10px;
  z-index: 6;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  letter-spacing: 2px;
  font-weight: 600;
  display: none;
}
#shopping-girl {
  background-color: white;
  position: absolute;
  width: 40vw;
  top: 25%;
  left: 5%;
}
#shopping-girl img {
  width: 100%;
}
#empty {
  position: absolute;
  width: 40vw;
  top: 40%;
  left: 68%;
}
#empty img {
  width: 6rem;
}

#order-place {
  width: 20rem;
  height: 15rem;
  background-color: rgb(250, 252, 255);
  padding-bottom: 30px;
  position: absolute;
  top: 15%;
  left: 40%;
  transform: translate(-50%);
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  display: none;
}
#order-place img {
  width: 100%;
}
#order-place p {
  font-size: 20px;
  text-align: center;
  color: green;
  font-weight: 600;
  position: relative;
  bottom: 40px;
}

#sure {
  width: 20rem;
  height: 8rem;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%);
  padding: 20px;
  display: none;
}
#sure > :nth-child(1) {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: #167a92;
  text-transform: capitalize;
  margin-bottom: 25px;
}
#sure > :nth-child(2) {
  display: flex;
  justify-content: space-between;
}

#sure > :nth-child(2) > :nth-child(1),
#sure > :nth-child(2) > :nth-child(2) {
  width: 30%;
  padding: 10px;
  border: 0;
  outline: 0;
  background-color: teal;
  color: #fdfdf9;
  border-radius: 4px;
  cursor: pointer;
}

/* media quary section here */

@media screen and (max-width: 950px) and (min-width: 550px) {
  #header {
    display: none;
  }

  #navbars {
    height: 7.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

  #navbar {
    flex-direction: column;
    border-bottom: none;
  }
  #logo {
    justify-content: space-between;
    margin-bottom: 10px;
  }
  #logo > :nth-child(1) {
    width: 45%;
    text-align: center;
    height: max-content;
  }
  #logo > :nth-child(2) {
    width: 45%;
    text-align: center;
    height: max-content;
    border-left: 0.1px solid #5e767855;
  }

  #searchbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  #searching {
    width: 90%;
    margin-right: 0;
  }
  #search-submit {
    left: 83.9%;
    padding: 8.9px;
  }
  #busket {
    position: relative;
    right: 30px;
  }
  #humburger {
    display: block;
    position: relative;
    bottom: 6px;
  }
  #searchbar > :nth-child(1) {
    width: 100%;
  }

  #nav-menu {
    flex-flow: column;
    position: absolute;
    right: 10px;
    top: 90%;
    background-color: teal;
    color: white;
    height: max-content;
    line-height: 40px;
    border-radius: 5px;
    display: none;
  }

  /* #nav-menu > p {
  margin-right: 15px;
} */
  #nav-menu > p:hover {
    color: #0c0c0c;
    padding-bottom: 18px;
    border-bottom: 2px solid #0e0e0e;
    cursor: pointer;
  }

  #cart_body {
    flex-direction: column;
  }

  #appending,
  #cart_show {
    width: 100%;
    height: 70vh;
  }
  #shopping-girl {
    width: 25rem;
    left: 18%;
    top: 30%;
  }
  #empty {
    left: 40%;
    top: 120%;
  }
}
